@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ff-body: "Poppins", serif;

    --clr-accent: #008000;
    --clr-text: black;
    --clr-bg: hsl(0, 0%, 95%);
    --clr-brdr: white;
    
    
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
}

body {
    font-family: var(--ff-body);
    background-color: var(--clr-bg);
}

header {
    background-color: var(--clr-brdr);
    border-bottom: 1px solid #dbdbdb;
    position: sticky;
    top: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: var(--fw-600);
    color: var(--clr-text);
}

main {
    max-width: 960px;
    margin-inline: auto;
}

p {
    max-width: 75ch;
    line-height: 2;
    margin-bottom: 2em;
}

#about-us {
    font-size: 4rem;
}

.nav-logo {
    height: 2rem;
}

.primary-btn {
    font-weight: var(--fw-500);
    font-size: 1rem;
}

.primary-btn:hover,
a:hover {
    color: var(--clr-accent);
}


.nav-item {
    list-style-type: none;
    margin-right: 20px;

}

.navbar {
    padding: 15px 15px 10px;
    max-width: 800px;
    margin: 0 auto;
}

.nav-section,
.home-link,
.primary-btn,
.nav-bottom,
.nav-item {
    display: flex;
    justify-content: center;

}

.nav-bottom {
    margin-top: 20px;
}